.navbar-fixed-top .brand {
    margin-left: 20px;
    float: right;
    font-weight: bold;
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 5px;
    padding: 0;
}

.navbar .nav > li > a {
    padding: 5px 14px 0 0;
}

.navbar > .navbar-inner > .container-fluid{
    height: 28px;
    padding-left: 8px;
}

.navbar{
    height: 28px;
    margin-bottom: 0px;
}

.navbar .dropdown-menu:after{
    display: none;
}

.navbar .dropdown-menu {
    border-radius: 0 0 0 0;
    box-shadow: none;
    background-color: #111;
}

.navbar .dropdown-menu a:hover{
    background-color: #666;
}

.dropdown-menu i{
    padding-left: 8px;
}

#nav-collapser{
    padding-right: 10px;
}

.dropdown-menu{
    min-width: 120px;
}

.main-area-container{
    height: 100%;
    padding: 0;
}

.main-area{
    background-color: #468847;
    height: 100%;
}

.main-area.row-fluid > div{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #111;
    height: 98%;
    margin: 0;
}

.cmd-container.container-fluid{
    padding: 6px 0.5% 6px 0.5%;
    background-color: #333;
    position: absolute;
    bottom: 0;
    width: 99%;
}

.cmd-line{
    margin: 0;
    width: 96%
}

.sidebar.span3{
    width: 20%;
}

#edit-area.span9{
    width: 80%;
}

.sidebar > div{
    height: 100%;
    float: left;
}

.holdbar{
    width: 8px;
    background-color: #f5f5f5;

}

.sidebar-area{
    border-right: 2px solid #777;
    width: 99.2%;
}

.nav-tabs{
    margin-bottom: 1px;
}

.nav-tabs > li > a{
    padding-bottom: 5px;
    padding-top: 3px;
    border-radius: 0;
}

.tab-content{
    height: 95%;
}


.tab-content > div{
    height: 100%;
}

.modified-well .component .header-label {
    border: 1px solid grey;
    box-shadow: 0 1px 1px grey inset;
    padding: 5px 0px 0px 20px;
    min-height: 20px;
    background-color:#FAFAFA;
    color:#333333;
}

.tab-content{
    height: 95%;
}


.tab-content > div{
    height: 100%;
}

.sidebar .tab-content > div{
    padding-left: 8px;
    overflow: auto;
    color: #faa732;
}

#edit-area.edit-area-top{
    padding-top: 2px;
}

#aboutModal p{
    font-family:Menlo,Monaco,"Courier New",monospace;
    font-size:12px;
    color:#EEE;
    line-height: 14px;
    margin: 0 0 4px;
}

#aboutModal a{
    line-height: 30px;
}

#edit-area > .tab-content > div{
    position: relative;
}

.ui-dialog-titlebar { display:none; }

.modal{
    background-color: #000;
    color: #EEE;
    border-color: #222;
    box-shadow:0 2px 4px 3px #555555;
}

.modal > .modal-header{
    border-bottom-color: #222;
}

.modal > .modal-header > h3 {
    color: #EEE;
}

.modal form{
    margin-bottom: 3px;
}

.modal .btn{
    margin-bottom: 10px;
}

.icon-adjust.icon-fx{
    background-image: url('img/fx_white.png');
    background-position: 0 0;
}

li.highlighted {
    text-decoration: underline;
}