body {
    overflow: hidden;
    color: grey;
    background-color: black;
    margin: 0px;
    min-height: 600px;
}

div.editor {
    position: absolute;
    width: 80%;
    height: 89%;
    display: inline;
}

div.menu {
    width: 20%;
    background-color: black;
    display: inline-block;
    height: 89%;
}

div.picker {
    width: 18%;
    display: inline-block;
}

div.picker .header {
    color: white;
    background-color: black;
}

#dock ul li a {
    color: #CCCCCC;
    display: block;
    font-size: 12px;
    line-height: 22px;
    padding: 0 5px;
    text-decoration: none;
}

#dock ul li {
    list-style-type: none;
    margin: 20px;
    padding: 0 6px;
    border: 1px solid grey;

}

#dock ul li {
    padding: 0 6px;
    position: relative;
}

#dock ul {
    background-color: #000000;
    height: 25px;
    padding: 0 6px;
}

#dock {
    top: 0;
    padding-bottom: 50px;
}

#outline-view ul li {
    cursor: pointer;
    color: #CDA869;
}

.view {
    max-height: 80%;
    overflow: auto;
}

.view-label {
    color: white;
    padding: 0 0 0 10px;
}

div.command-line{
    clear: both;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color:black;
    padding: 0 20px;
    border: 1px solid grey;
}

div.command-line input{
    margin: 0;
    width: 100%;
}


/* overriding bootstrap defaults */
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

body{
    padding-top: 43px;
}

.navbar-fixed-top .brand {
    padding-right: 22px;
    padding-top: 8px;
    padding-left: 0;
    margin-left: 20px;
    float: right;
    font-weight: bold;
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.btn-toolbar{
    margin: 0;
    margin-left: 10px;
    padding-bottom: 2px;
    padding-top: 3px;
}

